{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Contact Form</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'>
</head>
<body>
    <div class="container">
        <form action="" method="POST" class="contactForm">
            {% csrf_token %}
            <div class="formControl">
                <div class="tag" autocomplete="on">First Name</div>
                <input type="text" name="fullName" placeholder="Enter your name">
            </div>

            <div class="formControl">
                <div class="tag">Last name</div>
                <input type="text" name="missEquipments" placeholder="">
            </div>

            <div class="formControl">
                <div class="tag">Email</div>
                <input type="email" name="email" placeholder="Enter your email">
            </div>

            <div class="formControl">
                <div class="tag">Address</div>
                <input type="text" name="subject" placeholder="Enter your full address">
            </div>

            <div class="formControl">
                <div class="tag">Phone</div>
                <input type="text" name="classTV" placeholder="Enter your numbers with country code">
            </div>
            
            <div class="formControl">
                <div class="tag">Comments</div>
                <textarea name="message" cols="30" rows="10" placeholder="Write anything..."></textarea>
            </div>

            <div class="formControl">
                <input type="submit" class="btn submitBtn" value="Send">
            </div>
        </form>
        
    </div>
</body>
</html>