{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'>
</head>
<body>
    <div class="container">
        <form action="" method="POST" class="contactForm">
            {% csrf_token %}
            <div class="formControl">
                <div class="tag" autocomplete="on">Full Name</div>
                <input type="text" name="fullName" placeholder="Enter your name">
            </div>

            <div class="formControl">
                <div class="tag">Email</div>
                <input type="email" name="email" placeholder="Enter your email">
            </div>

            <div class="formControl">
                <div class="tag">Subject</div>
                <input type="text" name="subject" placeholder="">
            </div>

            <div class="formControl">
                <label for="class" class="tag">Classrooms</label>

                <select name="class" class="tag" >
                    <option value="">Communications and Media Laboratory</option>
                    <option value="">Creative Room</option>
                    <option value="">IT Laboratory</option>
                    <option value="">Red Classroom</option>
                    <option value="">White Classroom</option>
                    <option value="">Grey Classroom</option>
                    <option value="">Green Classroom</option>
                    <option value="">Purple Classroom</option>
                    <option value="">Yellow Classroom</option>
                    <option value="">Library</option>
                    <option value=""></option>
                </select>
            </div>

            <div class="formControl">
                <div class="tag">Message</div>
                <textarea name="message" cols="30" rows="10"></textarea>
            </div>

            <div class="formControl">
                <input type="submit" class="btn submitBtn" value="Send">
            </div>
        </form>
        
    </div>
    
</body>
</html>